@page "/Timkiemvanbanden"
@using QUANLIVANBAN.Data
@inject LoaivanbanData loaivb
@inject CoquanbanhanhData CQBH
@inject VanbandenData DEN
@inject TaikhoanData taikhoan
<div class="container">        

        <div class="row">
            <div class="col-md-9">
                <div class="block block-transparent nm">
                    <div class="content controls">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input @bind="noidungvanban" class="form-control" placeholder="Tìm Kiếm Theo Nội Dung"/>
                                    <div type="button" @onclick="Load_ndvanban" class="input-group-addon"><span class="icon-search"></span></div>
                                </div>
                            </div>
                            @* <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                    <input type="date" class="form-control datepicker" placeholder="Due by"/>
                                </div>
                            </div>                             *@
                        </div>
                    </div>
                </div>
                
                <div class="block block-transparent">
                    <div class="content tasks">
                        @foreach (var lvanban in vbdenlist)
                        {
                        <div class="task-item priority-low">
                            <div class="task-item-content">
                                <div class="task-item-head">@lvanban.VBDen_TieuDe</div>
                                <div class="task-item-subhead">@lvanban.VBDen_SoDen: @lvanban.VBDen_TrichYeu.Substring(0, 20) ...</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> @lvanban.VBDen_NgayNhan &nbsp; <i class="icon-globe"></i> <a href="@lvanban.VBDen_DinhKem">Đính Kèm</a>&nbsp; <i class="icon-user"></i> @lvanban.VBDen_NguoiNhan</div>                            
                            </div>
                        </div>                       
                        }                       
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                
                <div class="block block-transparent">
                    <div class="header">
                        <h2>Loại Văn Bản</h2>                        
                    </div>
                    <div class="content list list-default">
                        @foreach (var lvanban in loaiList)
                        {
                        <div class="list-item">                            
                            <div class="list-text">
                                <p @onclick="(async () => await Load(lvanban.LoaiVanBan))">@lvanban.LoaiVanBan</p>                                
                            </div>                            
                        </div>   
                        }                    
                    </div>
                    <div class="header">
                        <h2>Nơi Ban Hành</h2>                        
                    </div>
                    <div class="content list list-default">
                        @foreach (var banhanh in bhList)
                        {
                        <div class="list-item">                            
                            <div class="list-text">
                                <p @onclick="(async () => await Load_coquanbanhanh(banhanh.TenCoQuan))">@banhanh.TenCoQuan</p>                                
                            </div>                            
                        </div>   
                        }                    
                    </div>
                </div>    
                
            </div>
        </div>
        
    </div> 

@code {
    protected List<Loaivanbans> loaiList = new List<Loaivanbans>();
    protected List<Coquanbanhanhs> bhList = new List<Coquanbanhanhs>();
    protected List<Vanbandens> vbdenlist = new List<Vanbandens>();
    protected Vanbandens vbden = new Vanbandens();
    protected Taikhoans loginup = new Taikhoans();
    protected async override Task OnInitializedAsync()
    {
        loginup=await taikhoan.shownoidung();
        loaiList = await loaivb.GetAllLoaivanban();
        bhList = await CQBH.GetAllCoquanbanhanh();
    }
    protected async Task Load(string loaivb)
    {
        vbdenlist = await DEN.GetVanbandens_loaivb(loaivb);
    }
    protected async Task Load_coquanbanhanh(string cqbanhanh)
    {
        vbdenlist = await DEN.GetVanbandens_cqbanhanh(cqbanhanh);
    }
    private string noidungvanban;
    protected async Task Load_ndvanban()
    {
        vbdenlist = await DEN.GetVanbandens_ndvanban(noidungvanban);
    }
}
